[Desktop Entry]
Name=Charist
Comment=Intuitive bible reader
Exec=charist %U
Icon=org.barbel.Charist
Terminal=false
Type=Application
Categories=Utility;Education;
Keywords=Bible;Scripture;Charist;Reader;
StartupWMClass=org.barbel.Charist